.MovieItem {
  display: flex;
  gap: 16px;
}

.MovieItem-titleAndOverview {
  flex: 1;
}

.MovieItem-title {
  font-size: 18px;
  font-weight: bold;
}

.MovieItem-overview {
  color: #686868;
}

.MovieItem-poster {
  width: 200px;
  height: 300px;
  background-color: #efefef;
}

.MovieItem-dateAndFavourite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 3px 0 0 0;
}

.MovieItem-favourite {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
