.MovieItem {
  display: flex;
  gap: var(--space2);
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .MovieItem {
    flex-direction: row;
    align-items: flex-start;
  }
}

.MovieItem-titleAndOverview {
  flex: 1;
  text-align: center;
}

@media (min-width: 768px) {
  .MovieItem-titleAndOverview {
    text-align: left;
  }
}

.MovieItem-title {
  font-size: 18px;
  font-weight: bold;
}

.MovieItem-overview {
  color: #686868;
}

.MovieItem-poster {
  width: 200px;
  height: 300px;
  background-color: var(--secondary-color);
}

.MovieItem-dateAndFavourite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space2);
  padding: 3px 0 0 0;
}

.MovieItem-favourite {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
