.FavouritesPage {
  margin: var(--page-margin);
  padding: var(--page-padding);
  max-width: var(--page-width);
  background-color: var(--page-background);
  min-height: var(--page-min-height);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.FavouritesPage-movies {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.FavouritesPage-emptyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
}

.FavouritesPage-emptyContentTitle {
  font-size: 24px;
}