.Header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Header-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background: #f5c518;
  padding: 8px 16px;
  width: min-content;
  white-space: nowrap;
  align-self: center;
  border-radius: 5px;
}

.Header-navigation {
  display: flex;
  gap: 16px;
  background-color: #000;
  padding: 8px 16px;
}

.Header-navigation a {
  color: #fff;
}
