.MoviesPage {
  margin: var(--page-margin);
  padding: var(--page-padding);
  max-width: var(--page-width);
  background-color: var(--page-background);
  min-height: var(--page-min-height);
  display: flex;
  flex-direction: column;
  gap: var(--space2);
}

.MoviesPage-content {
  display: flex;
  flex-direction: column;
  gap: var(--space2);
}

.MoviesPage-movies {
  display: flex;
  flex-direction: column;
  gap: var(--space2);
}

.MoviesPage-pagination {
  align-self: flex-end;
}

.MoviesPage-movie {
  border-bottom: 1px solid var(--secondary-color);
  padding: 0 0 var(--space2) 0;
}

.MoviesPage-movie:last-of-type {
  border-bottom: none;
  padding: 0;
}

@media (min-width: 768px) {
  .MoviesPage-movie {
    border: none;
    padding: 0;
  }
}