.MoviesPage {
  margin: var(--page-margin);
  padding: var(--page-padding);
  max-width: var(--page-width);
  background-color: var(--page-background);
  min-height: var(--page-min-height);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.MoviesPage-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}